.App {
  width: 60%;
  max-width: 1200px;
  height: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 12;
}
.App .principal-content {
  grid-column: span 9;
  margin: 0 2rem 0 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: rgba(73, 73, 73, 0.761);
  border-radius: 2rem;
  border: 1px solid #595959;
}
.App .principal-content aside {
  padding: 1rem;
  grid-column: span 4;
  background-color: rgba(31, 31, 31, 0.794);
  border-radius: 2rem 0 0 2rem;
}
.App .principal-content aside .profile-content {
  display: flex;
  align-items: center;
}
.App .principal-content aside .profile-content img {
  width: 40px;
  height: 40px;
  margin: 0 0.8rem 0 0;
  object-fit: cover;
  border-radius: 50%;
}
.App .principal-content aside .profile-content div h2 {
  margin: 0;
  padding: 0;
  line-height: 0.9;
  font-size: 16px;
}
.App .principal-content aside .profile-content div p {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 16px;
}
.App .principal-content aside .items-list ul {
  list-style-type: none;
  padding: 0;
}
.App .principal-content main {
  grid-column: span 8;
  padding: 2rem;
}
.App .principal-content main header {
  display: flex;
  justify-content: center;
}
.App .principal-content main .tasks-list__container {
  margin: 3rem 0 0 0;
}
.App .principal-content main .tasks-list__container .header__content {
  margin: 0 0 2rem 0;
  display: flex;
  justify-content: space-between;
}
.App .principal-content main .tasks-list__container .header__content h2 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 18px;
}
.App .principal-content main .tasks-list__container .items__container {
  width: 100%;
  height: 400px;
  position: relative;
}
.App .principal-content main .tasks-list__container .items__container ul {
  margin: 0;
  padding: 0;
}
.App .secondary-content {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.App .secondary-content section {
  background-color: rgba(73, 73, 73, 0.761);
  border: 1px solid #595959;
  border-radius: 2rem;
  padding: 1rem 2rem;
}
.App .secondary-content .create-todo__container {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .secondary-content .todo-completed {
  height: 60%;
}

@media (max-width: 640px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .App .principal-content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
form .actions__container .remove, form .actions__container .add {
  font-family: "Kalam", cursive;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: #171717;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

form .actions__container .remove span:not(:nth-child(6)), form .actions__container .add span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: 0.6s ease;
}
form .actions__container .remove span:nth-child(6), form .actions__container .add span:nth-child(6) {
  position: relative;
}
form .actions__container .remove span:nth-child(1), form .actions__container .add span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}
form .actions__container .remove span:nth-child(2), form .actions__container .add span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}
form .actions__container .remove span:nth-child(3), form .actions__container .add span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}
form .actions__container .remove span:nth-child(4), form .actions__container .add span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}
form .actions__container .remove span:nth-child(5), form .actions__container .add span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

form {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form h2 {
  font-size: 18px;
  line-height: 1;
  margin: 0 auto 25px auto;
  padding: 0;
}
form .Input__container {
  display: flex;
  justify-content: center;
}
form .actions__container {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
}
form .actions__container .add span:not(:nth-child(6)) {
  background-color: #85e486;
}
form .actions__container .add:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}
form .actions__container .remove span:not(:nth-child(6)) {
  background-color: #e4858b;
}
form .actions__container .remove:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}

/*# sourceMappingURL=CreateTodo.css.map */
